@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  font-family: "Montserrat", sans-serif !important;
}
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input,
input:before,
input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
.Header {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.UpdateBlock {
  margin-bottom: 10px;
}
a,
a:hover,
a:active {
  text-decoration: none;
  color: var(--text_primary);
}
.fixButton,
.fixButton:hover,
.fixButton:active {
  text-decoration: none;
  color: var(--button_secondary_foreground);
}
.FixedLayout--android {
  top: 0;
}
.WelcomeBlock .Avatar {
  padding-bottom: 20px;
}
.Tappable--android .SimpleCell--android .PanelHeaderContext--opened {
  margin-top: 60px !important;
}
.Tabbar {
  z-index: 3;
}
.Snackbar {
  margin-bottom: 50px;
  z-index: 2;
}
.noMarginSnackbar {
  margin-bottom: 0 !important;
}
.Div .SimpleCell {
  border-radius: 15px;
}
.content {
  width: 95vw;
}
.TabbarItem__in:hover,
.Switch:hover,
.TabbarItem:hover,
option:hover {
  cursor: pointer;
}
.Radio {
  border-radius: 10px;
}
.tap:hover {
  cursor: pointer;
}
.ModalCard__in {
  width: 95%;
}
.content .Button:hover {
  color: var(--button_secondary_foreground);
}
.PullToRefresh__spinner {
  margin-top: 10px;
}
